<div class="wrapper">
  <div class="row d-flex text-center">
    <div class="col-md-12 text-left" style="height: 150px; background-color: rgb(20, 20, 20);">
        <h1 class="pl-5 pt-4 ml-3 mt-4" style="color: rgb(230, 230, 230);">
          <i class="fa fa-arrow-left growIcon"
          (click)="onBackArrowClick()"></i>
          &nbsp;<u class="homeName" (click)="onBackArrowClick()">Home</u> / Current Poll Name
        </h1>
    </div>
  </div>

  <div class="row d-flex text-center">
    <div class="col-md-12 text-center" style="height: 50px; background-color: rgb(230, 230, 230);">
    </div>
  </div>

  <div class="row d-flex text-center">
    <div class="col-md-12 text-center" style="height: 50px; background-color: rgb(255, 255, 255);">
    </div>
  </div>

  <div class="row d-flex text-center">
    <div class="col-md-1" style="height: 150px; background-color: rgb(255, 255, 255);">
    </div>
    <div class="col-md-3 text-center" style="height: 150px; background-color: rgb(255, 255, 255); border: 1px solid black;">
    </div>
    <div class="col-md-8" style="height: 150px; background-color: rgb(255, 255, 255);">
    </div>
  </div>

  <div class="row d-flex text-center">
    <div class="col-md-12 text-center" style="height: 50px; background-color: rgb(255, 255, 255);">
    </div>
  </div>

  <div class="row d-flex text-center">
    <div class="col-md-12 text-center" style="height: 50px; background-color: rgb(230, 230, 230);">
    </div>
  </div>

  <div class="row d-flex text-center">
    <div class="col-md-12 text-left" style="height: 150px; background-color: rgb(20, 20, 20);">
    </div>
  </div>
</div>
